---
import ImageWrapper from "../misc/ImageWrapper.astro";
---

<div class="card-base p-3" th:if="${theme.config.profile.enable_profile}">
  <a
    aria-label="Profile"
    th:href="${theme.config.profile.url}"
    class="group relative mx-auto mb-3 mt-1 block max-w-[12rem] overflow-hidden rounded-xl active:scale-95 lg:mx-0 lg:mt-0 lg:max-w-none"
  >
    <div
      class="pointer-events-none absolute z-50 flex h-full w-full items-center justify-center transition group-hover:bg-black/30 group-active:bg-black/50"
    >
      <span
        class="icon-[fa6-regular--address-card] scale-90 text-5xl text-white opacity-0 transition group-hover:scale-100 group-hover:opacity-100"
      ></span>
    </div>
    <ImageWrapper
      src="${theme.config.profile.avatar}"
      alt="${theme.config.profile.name}"
      class="mx-auto aspect-square h-full lg:mt-0 lg:w-full"
    />
  </a>

  <div class="px-2">
    <div
      class="mb-1 text-center text-xl font-bold text-black/90 transition dark:text-neutral-50"
      th:text="${theme.config.profile.name}"
    >
      Fuwari
    </div>
    <div class="mx-auto mb-2 h-1 w-5 rounded-full bg-(--primary) transition">
    </div>
    <div
      class="mb-2.5 text-center text-neutral-400 transition"
      th:text="${theme.config.profile.bio}"
    >
    </div>

    <div class="mb-1 flex flex-wrap justify-center gap-2">
      <a
        th:each="social : ${theme.config.profile.social_media}"
        th:href="${social.url}"
        th:title="${social.name ?: social.text}"
        target="_blank"
        class="btn-regular size-10 rounded-lg active:scale-90"
        th:utext="${social.social_icon.value}"
      >
      </a>
    </div>
  </div>
</div>
