---
import MainGridLayout from "../layouts/MainGridLayout.astro";
---

<MainGridLayout title="|#{page.tags.title} - ${site.title}|">
  <Fragment slot="head">
    <title th:text="|#{page.tags.title} - ${site.title}|"></title>
  </Fragment>

  <section class="card-base onload-animation mb-4 px-6 py-6 md:px-9">
    <h1 class="mb-6 text-3xl font-bold text-90" th:text="#{page.tags.title}">
      标签
    </h1>
    <div class="flex flex-wrap gap-3">
      <a
        th:each="tag : ${tags}"
        th:href="@{${tag.status.permalink}}"
        class="btn-regular h-10 rounded-xl px-4 text-sm font-bold active:scale-95"
      >
        <span th:text="${tag.spec.displayName}">Tag</span>
        <span class="ml-2 opacity-70" th:text="${tag.postCount ?: 0}">0</span>
      </a>
    </div>
  </section>
</MainGridLayout>
