---
import BackToTop from "../components/control/BackToTop.astro";
import Footer from "../components/Footer.astro";
import ImageWrapper from "../components/misc/ImageWrapper.astro";
import Navbar from "../components/Navbar.astro";
import RightSideBar from "../components/widget/RightSideBar.astro";
import SideBar from "../components/widget/SideBar.astro";
import TOC from "../components/widget/TOC.astro";
import {
  BANNER_HEIGHT,
  BANNER_HEIGHT_EXTEND,
  MAIN_PANEL_OVERLAPS_BANNER_HEIGHT,
} from "../constants/constants";
import Layout from "./Layout.astro";

interface Props {
  title?: string;
  description?: string;
  setOGTypeArticle?: boolean;
  isHomePage?: boolean;
  showToc?: boolean;
}

const {
  title,
  description,
  setOGTypeArticle = false,
  isHomePage = false,
  showToc = false,
} = Astro.props;
const mainPanelTop = `calc(${BANNER_HEIGHT}vh - ${MAIN_PANEL_OVERLAPS_BANNER_HEIGHT}rem)`;
---

<style is:global>
  :root {
    --banner-vh: ${BANNER_HEIGHT}vh;
    --panel-overlap: ${MAIN_PANEL_OVERLAPS_BANNER_HEIGHT}rem;
    --panel-top: calc(var(--banner-vh) - var(--panel-overlap));
  }
</style>

<Layout
  title={title}
  description={description}
  setOGTypeArticle={setOGTypeArticle}
  isHomePage={isHomePage}
>
  <slot slot="head" name="head" />

  <div
    id="top-row"
    class="pointer-events-none relative z-50 mx-auto w-full xl:w-[92vw] max-w-(--page-width) px-0 transition-all duration-700 md:px-4"
    th:classappend="${theme.config.sidebar.layoutMode == 'two-column' ? 'layout-two-column' : 'layout-three-column'}"
  >
    <div
      id="navbar-wrapper"
      class="pointer-events-auto sticky top-0 transition-transform duration-700"
    >
      <Navbar />
    </div>
  </div>

  <div
    id="banner-wrapper"
    th:if="${theme.config.base.banner.enable}"
    class="absolute z-10 w-full overflow-hidden transition duration-700"
    style={`top: -${BANNER_HEIGHT_EXTEND}vh`}
  >
    <ImageWrapper
      id="banner"
      src="${theme.config.base.banner.src}"
      alt="${site.title}"
      position="${theme.config.base.banner.position}"
      loading="eager"
      fetchpriority="high"
      class="h-full object-cover opacity-0 scale-105 transition duration-700"
    />
  </div>

  <div
    id="main-panel-wrapper"
    class="pointer-events-none absolute z-30 w-full"
    style={`top: ${mainPanelTop}`}
    th:style="${theme.config.base.banner.enable ? 'top: calc(35vh - 3.5rem)' : 'top: 5.5rem'}"
  >
    <div
      class="pointer-events-auto relative mx-auto w-full xl:w-[92vw] max-w-(--page-width)"
      th:classappend="${theme.config.sidebar.layoutMode == 'two-column' ? 'layout-two-column' : 'layout-three-column'}"
    >
      <div
        id="main-grid"
        class="left-0 right-0 mx-auto grid w-full grid-cols-[1fr] grid-rows-[auto] gap-4 px-0 transition duration-700 md:grid-cols-[17.5rem_1fr] md:grid-rows-[auto_1fr_auto] md:px-4"
        th:classappend="${theme.config.sidebar.layoutMode == 'two-column' ? '' : 'xl:grid-cols-[17.5rem_1fr_17.5rem]'}"
        th:style="${theme.config.base.banner.enable ? 'min-height: calc(100vh - (35vh - 3.5rem))' : 'min-height: calc(100vh - 5.5rem)'}"
      >
        <a
          id="banner-credit"
          th:if="${theme.config.base.banner.enable and theme.config.base.banner.credit.enable}"
          th:href="${theme.config.base.banner.credit.url}"
          target="_blank"
          rel="noopener"
          aria-label="Visit image source"
          class="group onload-animation absolute -top-13 right-4 flex h-9 items-center justify-center rounded-full bg-black/60 px-3 transition-all hover:bg-black/70 hover:pr-9 active:bg-black/80"
        >
          <span
            class="icon-[material-symbols--copyright-outline-rounded] mr-1 text-[1.25rem] text-white/75"
          ></span>
          <span
            class="text-xs text-white/75"
            th:text="${theme.config.base.banner.credit.text}"></span>
          <span
            class="icon-[fa6-solid--arrow-up-right-from-square] absolute right-4 text-[0.75rem] text-(--primary) opacity-0 transition group-hover:opacity-100"
          ></span>
        </a>

        <!-- 主内容区 - 移动端第一项 -->
        <main
          id="swup-container"
          class="transition-swup-fade col-span-2 overflow-hidden md:col-span-1 md:row-start-1 md:col-start-2"
        >
          <div id="content-wrapper" class="onload-animation">
            <slot />
            <div class="footer onload-animation col-span-2 hidden lg:block">
              <Footer />
            </div>
          </div>
        </main>

        <!-- 左侧栏 - 移动端第二项，平板端用 grid 放到左侧 -->
        <SideBar
          class="onload-animation col-span-2 mb-4 md:col-span-1 md:row-start-1 md:col-start-1 lg:max-w-70"
          th:classappend="${theme.config.sidebar.layoutMode == 'two-column' ? '' : 'xl:row-span-2'}"
        />

        <!-- 右侧栏 - 移动端第三项，平板隐藏，三栏显示 -->
        <RightSideBar
          class="col-span-2 md:hidden xl:col-span-1 xl:col-start-3 xl:row-start-1 xl:flex xl:flex-col xl:gap-4 xl:row-span-2"
          th:classappend="${theme.config.sidebar.layoutMode == 'two-column' ? 'xl:!hidden' : ''}"
          showToc={showToc}
        />

        <!-- 移动端页脚 -->
        <div class="footer onload-animation col-span-2 block lg:hidden">
          <Footer />
        </div>
      </div>

      <BackToTop />
    </div>
  </div>

  <div id="toc-container">
    {
      showToc ? (
        <div
          class="absolute z-0 hidden w-full xl:block"
          th:classappend="${theme.config.sidebar.layoutMode == 'three-column' ? 'xl:!hidden' : ''}"
        >
          <div
            class="relative mx-auto max-w-(--page-width)"
            th:with="tocEnabled=${theme.config.post == null or theme.config.post.toc.enable_toc == null or theme.config.post.toc.enable_toc}"
          >
            <div
              id="toc-wrapper"
              th:if="${tocEnabled}"
              class="pointer-events-auto absolute -right-(--toc-width) top-0 hidden w-(--toc-width) items-center transition lg:block"
              th:classappend="${theme.config.base.banner.enable ? ' toc-hide' : ''}"
            >
              <div
                id="toc-inner-wrapper"
                data-toc-scroll
                class="hide-scrollbar fixed top-14 h-[calc(100vh-20rem)] w-(--toc-width) overflow-x-hidden overflow-y-scroll"
              >
                <div id="toc" class="transition-swup-fade h-full w-full">
                  <div class="h-8 w-full" />
                  <TOC />
                  <div class="h-8 w-full" />
                </div>
              </div>
            </div>
            <div id="toc" th:unless="${tocEnabled}" />
          </div>
        </div>
      ) : (
        <div id="toc" />
      )
    }
  </div>

  <script
    src={`${import.meta.env.BASE_URL.replace(/\/+$/, "")}/assets/collapse.js`}
    defer></script>
  <script
    src={`${import.meta.env.BASE_URL.replace(/\/+$/, "")}/assets/copy.js`}
    defer></script>
  <script
    src={`${import.meta.env.BASE_URL.replace(/\/+$/, "")}/assets/wave.js`}
    defer></script>
  <script
    src={`${import.meta.env.BASE_URL.replace(/\/+$/, "")}/assets/upvote.js`}
    defer></script>
  <script
    src={`${import.meta.env.BASE_URL.replace(/\/+$/, "")}/assets/friend-authors.js`}
    defer></script>
  <script
    src={`${import.meta.env.BASE_URL.replace(/\/+$/, "")}/assets/card-tilt.js`}
    defer></script>
</Layout>
